<app-game-control
  (evenEmitter)="evenComponentCreator($event)"
  (oddEmitter)="oddComponentCreator($event)"
></app-game-control>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">Even</div>
        <div class="card-body">
          <div *ngFor="let counter of evenNumberList" class="text-center">
            <p class="text-primary">{{ counter }}</p>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-danger text-white">Odd</div>
        <div class="card-body">
          <div *ngFor="let counter of oddNumberList" class="text-center">
            <p class="text-danger">{{ counter }}</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
